.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-footer {
  font-family: "work sans";
}

footer {
  position: fixed;
  background-color: rgb(232 230 230);
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  text-align: center;
}